
/* .table-head{
    background-color: rgb(63, 50, 50);
    color: aliceblue;
    font-size: large;
    font-weight: bold;
} */
.table-dark{
    font-weight: bold;
}
.btn{
    background-color: blue;
    color: aliceblue;
}
