

<div class="card d-flex flex-md-row flex-sm-column-reverse justify-content-around p-3">
    <div class=" align-self-start">
        <div class=" d-flex flex-column justify-content-between">
            <div class="product-details">
                <div>
                    <h1 >{{product.name}}</h1>
                </div>
                <div class="center">
                    <img src="{{product.image}}"width="300" height="360"  alt="image">
                </div>
                <!-- <ul><b>ID No. : </b>{{product.id}} </ul> -->
                <ul><b>Name : </b>{{product.name}} </ul>
                <ul><b>Description : </b>{{product.description}} </ul>
                <ul><b>Price : </b>{{product.price | currency : 'INR'}} </ul>
                
               <a href="product" class="anker">Go To Product List</a> 
            </div>
        </div>
    </div>
</div>