.in{
    width: 500px;
}
label{
    margin-left: 5px;
    padding-bottom: 10px;
}
.h1{
    padding-bottom: 20px;
    padding-top: 15px;
}
input.ng-invalid.ng-touched{
    border-color: red;
}
@media only screen and (max-width : 791px)
{
    .in{
        width: 250px;
    }
}