<div class="container">
    <table class="table table-bordered">
        <thead >
            <tr>
                <td style="font-weight:bold ;">Name</td>
                <td style="font-weight:bold ;">Price</td>
                <td></td>
            </tr>
            <!-- <tr>
            <td>Nokia 5.1 Plus</td>
            <td>8999</td>
            <td><button class="btn btn-primary">View Details</button></td>
        </tr> 
            <tr>
            <td>Samsung A10s</td>
            <td>10999</td>
            <td><button class="btn btn-primary">View Details</button></td>
        </tr> 
            <tr>
            <td>Redmi Mi note 5 pro</td>
            <td>12999</td>
            <td><button class="btn btn-primary">View Details</button></td>
        </tr> 
            <tr>
            <td>Vivo Y2</td>
            <td>9500</td>
            <td><button class="btn btn-primary">View Details</button></td>
        </tr>  -->
        <tr *ngFor="let products of products">
            <td>{{products.name}}</td>
            <td>{{products.price | currency : "INR"}}</td>
            <td><button class="btn btn-primary" routerLink="/product/{{products.id}}" >View Details</button></td>
        </tr>
        </thead>
    
    </table>
</div>
