<div class="header">
    
    <input routerLinkActive="active" routerLink="/employee" type="button" class="btn btn-primary" value="Assignment1&2">
    <input routerLinkActive="active" routerLink="/template-form" type="button" class="btn btn-primary" value="Assignment 7">
    <input routerLinkActive="active" routerLink="/reactive-form" type="button" class="btn btn-primary" value="Assignment 8">
    
    <input routerLinkActive="active" routerLink="/assignment9" type="button" class="btn btn-primary" value="Assignment 9">
    
    <input routerLinkActive="active" routerLink="/home2" type="button" class="btn btn-primary " value="Home">
    <input routerLinkActive="active" routerLink="/product" type="button" class="btn btn-success" value="Product">
    <input routerLinkActive="active" routerLink="/contact" type="button" class="btn btn-dark" value="Contact">
    <input routerLinkActive="active" routerLink="/assignment10" type="button" class="btn btn-primary" value="Assignment 10">
     
</div>

