.header{
    background-color: navy;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    width: 100%;
    text-align: center;
}
.btn{
    margin-left: 10px;
    
  
}
input{
    margin-top: 10px;
   margin-bottom: 10px;
}
.active{
    background-color:darkgoldenrod;
}
@media only screen and (max-width : 548px)
{
  .header{
    width: fit-content;
   
}
}